target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/.classpath
/.project

\.metadata/\.lock

\.metadata/\.log

\.metadata/\.mylyn/repositories\.xml\.zip

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/\.indexes/properties\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/\.markers\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/\.syncinfo\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/org\.eclipse\.egit\.core/GitProjectData\.properties

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/history\.version

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/properties\.index

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/properties\.version

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.markers\.snap

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/2\.tree

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.safetable/org\.eclipse\.core\.resources

\.metadata/\.plugins/org\.eclipse\.core\.resources/2\.snap

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.core\.resources\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.debug\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.egit\.core\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.jdt\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.jst\.j2ee\.webservice\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.context\.core\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.monitor\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.tasks\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.rse\.core\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.rse\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.ui\.ide\.prefs

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.ui\.prefs

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.fdt

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.fdx

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.fnm

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.frq

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.nrm

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.tii

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.tis

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/segments_1

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/segments\.gen

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/write\.lock

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.fdt

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.fdx

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.fnm

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.frq

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.nrm

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.tii

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.tis

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/segments_1

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/segments\.gen

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/server-config\.json

\.metadata/\.plugins/org\.eclipse\.jdt\.core/invalidArchivesCache

\.metadata/\.plugins/org\.eclipse\.jdt\.core/nonChainingJarsCache

\.metadata/\.plugins/org\.eclipse\.jdt\.core/variablesAndContainers\.dat

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/OpenTypeHistory\.xml

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/QualifiedTypeNameHistory\.xml

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0_1\.del

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_3

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments\.gen

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write\.lock

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0_1\.del

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_3

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments\.gen

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/write\.lock

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/e063d413aee1c8c1af5256ec7f9e515b/_0_1\.del

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/e063d413aee1c8c1af5256ec7f9e515b/_0\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/e063d413aee1c8c1af5256ec7f9e515b/_1\.cfs

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/e063d413aee1c8c1af5256ec7f9e515b/segments_3

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/e063d413aee1c8c1af5256ec7f9e515b/segments\.gen

\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/e063d413aee1c8c1af5256ec7f9e515b/write\.lock

\.metadata/\.plugins/org\.eclipse\.m2e\.logback\.configuration/0\.log

\.metadata/\.plugins/org\.eclipse\.m2e\.logback\.configuration/logback\.1\.6\.2\.20150902-0002\.xml

\.metadata/\.plugins/org\.eclipse\.oomph\.setup/workspace\.setup

\.metadata/\.plugins/org\.eclipse\.rse\.core/\.log

\.metadata/\.plugins/org\.eclipse\.rse\.core/initializerMarks/org\.eclipse\.rse\.internal\.core\.RSELocalConnectionInitializer\.mark

\.metadata/\.plugins/org\.eclipse\.rse\.core/profiles/PRF\.tyler-ubuntu_2080/FP\.local\.files_0/node\.properties

\.metadata/\.plugins/org\.eclipse\.rse\.core/profiles/PRF\.tyler-ubuntu_2080/H\.local_16/node\.properties

\.metadata/\.plugins/org\.eclipse\.rse\.core/profiles/PRF\.tyler-ubuntu_2080/node\.properties

\.metadata/\.plugins/org\.eclipse\.rse\.ui/\.log

\.metadata/\.plugins/org\.eclipse\.ui\.workbench/dialog_settings\.xml

\.metadata/\.plugins/org\.eclipse\.ui\.workbench/workbench\.xml

\.metadata/\.plugins/org\.eclipse\.ui\.workbench/workingsets\.xml

\.metadata/version\.ini

RemoteSystemsTempFiles/\.project
